.todo-form{
    @apply tw-w-8/12 tw-h-full tw-box-border;
}
.form-todo{
    @apply tw-w-full tw-h-full tw-box-border;
}
.component-todo-form{
    @apply tw-h-full tw-box-border tw-flex tw-items-center;
}
.component-todo-form input[type='text']{
    @apply tw-h-full tw-outline-none tw-p-1.5;
    width: 90%;
}
.component-todo-form button{
    @apply tw-h-full tw-border-0;
    width: 20%;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    color: white;
}