.menu{
    @apply tw-w-full tw-flex;
    height: 8%;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}
.nav-menu{
    @apply tw-w-2/12;
}
.list-menu{
    @apply tw-h-full tw-flex tw-flex-row tw-justify-evenly tw-items-center;
}
.item-menu{
    @apply tw-h-3/6 tw-items-center tw-rounded;
    padding: 5px, 10px;
}